.container_videos{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}

@media screen and (max-width: 640px){
  .container_videos{
    display: grid;
    grid-template-columns: auto;

  }
}
