.container_videos{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

@media screen and (max-width: 640px){
  .container_videos{
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 720px){
  .container_videos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 1280px){
  .container_videos{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
  }
}
