.welcome{
  width: 100%;
}

.example-card{
  background-color: #f1f1f1;
}
.matCardGenerator:hover{
  background-color: #2B4865;
  color: white;
  cursor: pointer;
  box-shadow: 1px 0 12px #8FE3CF;
}
.card-opacity{
  opacity: 0.6;
}
.hiddenSelect mat-form-field{
  padding: 0 10px;
}
.hiddenSelect button{
  position: relative;
  /*bottom: 10px;*/
  margin: 5px;
}
.icon-hover:hover{
  cursor: pointer;
}
.select-style button{
  margin: 0 1px;
}
.card{
  padding: 1% 2%;
}
.genrer{
  display: flex;
  justify-content: space-between;
}
.tecnicaly{
  flex: 1 0 auto;
}
.icon-button{
  width: 28px;
  height: 28px;
}

.select-style2 button{
  margin: 0 3px;
}
.lemma-css:hover {
  cursor: pointer;
  color: blue;
}

.no-lemma:hover {
  cursor: text;
  color: black;
}

.bttn-style button {
  margin: 0 3px;
}
.text-orange{
  color: orange;
}

.container {
  padding: 3% 25%;
}

.btn {
  /*height: 50px;*/
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

