<!-- Hidden Content -->
<div [hidden]="!hideSelect" class="card mat-elevation-z1">
  <div class="card-title d-flex">
    <span class="fw-bolder">Criterios de b&uacute;squeda</span>
    <span class="tecnicaly"></span>
    <button
      mat-icon-button
      class="btn btn-outline-secondary icon-button"
      (click)="onCloseAdvSearch()"
    >
      <mat-icon class="mb-3" svgIcon="close"></mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-lg-5 col-md-4 select-style">
      <select
        (change)="setDisabledTrue($event)"
        class="form-select mat-elevation-z1"
        #mySelect
      >
        <option selected value="defaultValue">[Seleccione criterio]</option>
        <option value="cat">Categoria gramatical</option>
        <option value="style">Tipo de uso</option>
        <option value="geo">Informacion geografica</option>
        <option value="dom">Area de conocimientos</option>
        <option value="afjGram">Palabras con afijos</option>
      </select>
    </div>
    <div class="col-lg-6 col-md-4">
      <div class="row" *ngFor="let item of searchCriteriaFilters; index as i">
        <div class="col-lg-8">
          <div class="mb-3">
            <select
              #mySelect2
              [disabled]="!disableSelect"
              class="form-select mat-elevation-z1"
              [(ngModel)]="item.selectedValue"
            >
              <option selected value="defaultOption">
                Seleccione una opci&oacute;n
              </option>
              <option
                [value]="value.abr"
                *ngFor="let value of selectionsOptions"
              >
                {{ value.criteria }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-4 genrer">
          <div *ngIf="hideAllButtons" class="select-style">
            <button
              [hidden]="addDisabled"
              *ngIf="i < 2"
              class="btn btn-primary mb-1"
              (click)="onAddSelectionField()"
            >
              <mat-icon class="mb-1" svgIcon="add"></mat-icon>
            </button>
            <button
              *ngIf="i > 0"
              class="btn btn-primary mb-1"
              (click)="onDeleteSelectionField(item)"
            >
              <mat-icon class="mb-1" svgIcon="remove"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex select-style2">
    <button
      [disabled]="isDefaultValue"
      class="btn btn-primary"
      (click)="onApplyFilter()"
    >
      <mat-icon svgIcon="check" matPrefix></mat-icon>
      Aplicar
    </button>
    <button
      class="btn btn-primary"
      (click)="onCleanFilter()"
      [disabled]="isDefaultValue"
    >
      <mat-icon svgIcon="close" matPrefix></mat-icon>
      Limpiar
    </button>
  </div>
</div>

<!-- Initial Content -->
<div class="mt-3 welcome" *ngIf="!selectClick">
  <div class="card bg-dark text-white p-0" [@fade]>
    <img
      class="card-img card-opacity"
      src="../../../../assets/bg-main.jpg"
      alt=""
    />
    <div class="card-img-overlay p-0">
      <h2 class="card-title">Reseña del Diccionario</h2>
      <p class="card-text fs-5 fst-italic">
        Las ediciones electrónicas del Diccionario Básico Escolar son producto
        de la colaboración entre el Centro de Lingüística Aplicada de Santiago
        de Cuba, perteneciente al Ministerio de Ciencia, Tecnología y Medio
        Ambiente (CITMA) y el grupo de investigación IXA de la Universidad del
        País Vasco. El contenido del diccionario en esta quinta edición ha sido
        aumentado y mejorado respecto a la cuarta.
      </p>
    </div>
  </div>
</div>

<!-- Search Content -->
<div class="welcome mt-3" *ngIf="selectClick">
  <div>
    <mat-card
      class="example-card mat-elevation-z0"
      *ngFor="let word of wordList"
    >
      <div class="">
        <span class="fw-bold fs-5 p-2">{{ word.palabra.form.orthography }}</span>
        <span
          *ngIf="word.grupoGramatical.pos.length > 1"
          class="text-decoration-underline fs-5"
        >{{ word.grupoGramatical.pos }}</span
        >
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 p-1 d-flex justify-content-center">
          <button class="btn-primary rounded mx-1" matTooltip="Reproducir Audio">
            <mat-icon matPrefix svgIcon="volume_up"></mat-icon>
          </button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 p-1 d-flex justify-content-center">
          <button class="btn-primary rounded mx-1" matTooltip="Play Video">
            <mat-icon matPrefix svgIcon="play_circle"></mat-icon>
          </button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 p-1 d-flex justify-content-center">
          <button
            class="btn-primary rounded mx-1"
            matTooltip="Ver Imagen"
            (click)="onOpenWordImage(word.palabraSrc[0].url)"
          >
            <mat-icon matPrefix svgIcon="image"></mat-icon>
          </button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 p-1 d-flex justify-content-center">
          <button
            class="btn-primary rounded mx-1"
            matTooltip="Conjugar"
            (click)="onConj(word.palabraSrc[0].url)"
          >
            Conjugar
          </button>
        </div>
      </div>
      &nbsp;

      &nbsp;
      <span class="fs-5">{{ word.usg.value }}</span>
      &nbsp;


      <!-- <button
      class="btn btn-light"
      (click)="onPlayAudio()"
    >
      Reproducir Audio
    </button>
    &nbsp;
    <button
      *ngIf="dataWord.conjtarget !== ''"
      class="btn btn-light"
      (click)="onConj()"
    >
      Conjugar
    </button> -->
      <!--  <span-->
      <!--    *ngFor="let item of dataWord;-->
      <!--    index as i"-->
      <!--    (click)="onLemmaWord(item.idTextos)"-->
      <!--    [ngClass]="item.idTextos === 'no have id' ? '':'lemma-css'"-->
      <!--  >-->
      <!--    {{item.textos}}</span>-->

      <div *ngFor="let item of word.senses; index as is">
        <div class="d-flex">
          <div class="d-flex" *ngFor="let itemSrc of item.senseSrc">
            <button
              *ngIf="is + 1 == itemSrc.id && itemSrc.type === 'img'"
              class="btn btn-primary"
              (click)="onOpenWordImage(itemSrc.url)"
            >
              <mat-icon svgIcon="image" matPrefix></mat-icon>
            </button>
            <button
              *ngIf="is + 1 == itemSrc.id && itemSrc.type === 'video'"
              class="btn btn-primary"
              (click)="onOpenWordVideo(itemSrc.url)"
            >
              <mat-icon svgIcon="videos" matPrefix></mat-icon>
            </button>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fw-bolder px-1">{{ is + 1 }}.</span>
          <div class="d-flex flex-column">
            <div id="definitions-container">
              <span
                class="text-decoration-underline"
                *ngFor="let item1 of item.categoriaGramatical"
              >{{ item1.pos }}</span
              >
              <span
                *ngFor="let item1 of item.definiciones[0]; index as i"
                (click)="onLemmaWord(item1.lemmaid)"
                [ngClass]="{
                  'lemma-css': item1.lemmaid !== 'no have id',
                  'fw-bolder':
                    item1.lemmaid === 'oRef' || item1.lemmaid === 'orthVariant'
                }"
              >{{ item1.textos }}</span
              >
            </div>
            <div id="examples-container">
              <span *ngFor="let item1 of item.ejemplos[0]; index as i">
                <span
                  (click)="onLemmaWord(item1.lemmaid)"
                  [ngClass]="[
                    item1.lemmaid === 'no have id'
                      ? 'fst-italic'
                      : 'lemma-css fst-italic',
                    item1.lemmaid === 'orthVariant'
                      ? 'fw-bolder fst-italic'
                      : 'fst-italic'
                  ]"
                >{{ item1.textos }}</span
                >
                <span *ngIf="item1.textos === '.'"><br/></span>
              </span>
            </div>
            <div class="" *ngFor="let itemRe of item.entradasRelacionadas">
              <span>// {{itemRe.myForms.lbl}} <span class="fw-bolder">{{itemRe.myForms.orthography}}</span></span>
              <span><br></span>
              <span *ngFor="let itemReSense of itemRe.mySense.definition">
                <span
                  (click)="onLemmaWord(itemReSense.lemmaid)"
                  [ngClass]="[
                  itemReSense.lemmaid === 'no have id'
                  ? 'fst-italic'
                  :'lemma-css fst-italic',
                  itemReSense.lemmaid === 'orthVariant'
                  ?'fw-bolder fst-italic'
                  :'fst-italic']">
                  {{itemReSense.textos}}</span>
                <span *ngIf="itemReSense.textos === '.'"><br/>
              </span>
              </span>
              <span *ngFor="let itemReSenseEx of itemRe.mySense.examples">
                <span
                  (click)="onLemmaWord(itemReSenseEx.lemmaid)"
                  [ngClass]="[
                  itemReSenseEx.lemmaid === 'no have id' ? 'fst-italic':'lemma-css fst-italic',
                  itemReSenseEx.lemmaid === 'orthVariant' ?'fw-bolder fst-italic':'fst-italic']"
                >{{itemReSenseEx.textos}}</span>
                <span *ngIf="itemReSenseEx.textos === '.'"><br/></span>
              </span>
            </div>
          </div>

        </div>
        <hr/>
      </div>
      <div class="d-flex">
        <span>{{ word.palabra.form.syllable }}</span>
        <span class="p-1"></span>
        <div *ngFor="let item of word.palabra.another">
          <span>{{ item.orthography }} {{ item.number }}</span>
          <span class="p-1"></span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
