<!-- Hidden Content -->
<div [hidden]="!hideSelect" class="card mat-elevation-z1">
  <div class="card-title d-flex">
    <span class="fw-bolder">Criterios de b&uacute;squeda</span>
    <span class="tecnicaly"></span>
    <button
      mat-icon-button
      class="btn btn-outline-secondary icon-button"
      (click)="onCloseAdvSearch()"

    >

      <mat-icon class="mb-3" svgIcon="close"></mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-lg-5 col-md-4 select-style">
      <select
        (change)="setDisabledTrue($event)"
        class="form-select mat-elevation-z1"
        #mySelect
      >
        <option selected value="defaultValue">[Seleccione criterio]</option>
        <option value="cat">Categoria gramatical</option>
        <option value="style">Tipo de uso</option>
        <option value="geo">Informacion geografica</option>
        <option value="dom">Area de conocimientos</option>
        <option value="afjGram">Palabras con afijos</option>
      </select>
    </div>
    <div class="col-lg-6 col-md-4">
      <div class="row" *ngFor="let item of searchCriteriaFilters; index as i">
        <div class="col-lg-8">
          <div class="mb-3">
            <select
              #mySelect2
              [disabled]="!disableSelect"
              class="form-select mat-elevation-z1"
              [(ngModel)]="item.selectedValue"
            >
              <option selected value="defaultOption">
                Seleccione una opci&oacute;n
              </option>
              <option
                [value]="value.abr"
                *ngFor="let value of selectionsOptions"
              >
                {{ value.criteria }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-4 genrer">
          <div *ngIf="hideAllButtons" class="select-style">
            <button
              [hidden]="addDisabled"
              *ngIf="i < 2"
              class="btn btn-primary"
              (click)="onAddSelectionField()"
            >
              <mat-icon svgIcon="add"></mat-icon>
            </button>
            <button
              *ngIf="i > 0"
              class="btn btn-primary"
              (click)="onDeleteSelectionField(item)"
            >
              <mat-icon svgIcon="remove"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex select-style2">
    <button
      [disabled]="isDefaultValue"
      class="btn btn-primary"
      (click)="onApplyFilter()"
    >
      <mat-icon svgIcon="check" matPrefix></mat-icon>
      Aplicar
    </button>
    <button
      class="btn btn-primary"
      (click)="onCleanFilter()"
      [disabled]="isDefaultValue"
    >
      <mat-icon svgIcon="close" matPrefix></mat-icon>
      Limpiar
    </button>
  </div>
</div>

<!-- Initial Content -->
<div *ngIf="!selectClick"
     [ngClass]="(otherBoolean | async) ? 'd-none':''"
     class="mt-3 welcome"
>
  <div class="card bg-dark text-white p-0" [@fade]>
    <img
      class="card-img card-opacity"
      src="../../../../assets/bg-main.jpg"
      alt=""
    />
    <div class="card-img-overlay p-0">
      <h2 class="card-title text-center">Reseña del Diccionario</h2>
      <p class="card-text fs-5 fst-italic">
        Las ediciones electrónicas del Diccionario Básico Escolar son producto
        de la colaboración entre el Centro de Lingüística Aplicada de Santiago
        de Cuba, perteneciente al Ministerio de Ciencia, Tecnología y Medio
        Ambiente (CITMA) y el grupo de investigación IXA de la Universidad del
        País Vasco. El contenido del diccionario en esta quinta edición ha sido
        aumentado y mejorado respecto a la cuarta.
      </p>
    </div>
  </div>
</div>

<div *ngIf="(otherBoolean | async)" class="mt-3 welcome ">
  <div class="card p-0">
    <div class="not-found d-flex justify-content-center">
      <mat-icon class="not-found-icon" svgIcon="warning"></mat-icon>
      <h2>Not Found</h2>
      <p>Esa palabra no se encuentra en el diccionario o no existe...</p>
    </div>
  </div>
</div>

<!-- Search Content -->
<div *ngIf="selectClick"
     [ngClass]="(otherBoolean | async) ? 'd-none':''"
     class="welcome mt-3"
>
  <div>
    <cdk-virtual-scroll-viewport itemSize="5">
      <mat-card
        *ngFor="let word of wordList; index as iword"
        class="example-card mat-elevation-z0"
      >
        <div class="d-flex">
          &nbsp;
          <div class="d-flex justify-content-center align-items-center">
            <span class="fw-bold">{{ word.palabra.form.orthography }}</span>
          </div>
          <div class="d-flex mx-1 justify-content-center align-items-center ">
            <span
              *ngFor="let gG of word.grupoGramatical; index as gIndex"
            >
              <span
                [matTooltip]="getGramaticalTooltip(gG.value)"
                [matTooltipClass]="'bg-primary fs-6'"
              >{{gG.value}} <span *ngIf="gIndex+1 !== word.grupoGramatical.length"> y &nbsp;</span></span>
            </span>
          </div>
          <div
            class="p-1 d-flex justify-content-center"
            *ngIf="word.palabraSrc.audio.type !== ''"
          >
            <button
              (click)="onOpenWordAudio(word.palabraSrc.audio.url)"
              [matTooltipClass]="'bg-primary fs-6'"
              class="border-0"
              matTooltip="Reproducir audio"
            >
              <mat-icon color="primary" matPrefix svgIcon="volume_up"></mat-icon>
            </button>
          </div>
          <div
            class=" p-1 d-flex justify-content-center"
            *ngIf="word.palabraSrc.video.type !== ''"
          >
            <button
              (click)="onOpenWordVideo(word.palabraSrc.video.url)"
              class="border-0"
              [matTooltipClass]="'bg-primary fs-6'"
              matTooltip="Play video"
            >
              <mat-icon color="primary" matPrefix svgIcon="play_circle"></mat-icon>
            </button>
          </div>
          <div
            class=" p-1 d-flex justify-content-center"
            *ngIf="word.palabraSrc.img.type !== ''"
          >
            <button
              (click)="onOpenWordImage(word.palabraSrc.img.url)"
              class="border-0"
              [matTooltipClass]="'bg-primary fs-6'"
              matTooltip="Ver imagen"
            >
              <mat-icon color="primary" matPrefix svgIcon="image"></mat-icon>
            </button>
          </div>
          <div
            class="p-1 d-flex justify-content-center"
            *ngIf="word.palabraSrc.conj.type !== ''"
          >
            <button
              (click)="onConj(word.palabraSrc.conj.url)"
              class="border-0"
              [matTooltipClass]="'bg-primary fs-6'"
              matTooltip="Conjugar verbo"
              color="primary"
              mat-flat-button
            >
              Conjugar
            </button>
          </div>
        </div>
        &nbsp;
        <div *ngIf="word.notes.length !== 0">
          <div *ngFor="let itemNotes of word.notes">
            <span *ngFor="let notes of itemNotes.noteDefinition">
              <span
                (click)="onLemmaWord(notes.lemmaid)"
                [ngClass]="{
                  'lemma-css': notes.lemmaid !== 'no have id',
                  'fw-bolder':
                   notes.lemmaid === 'oRef' ||
                   notes.lemmaid === 'orthVariant'}"
              >
                {{notes.textos}}
              </span>
            </span>
          </div>
        </div>
        &nbsp;
        <span class="fs-5">{{ word.usg.value }}</span>
        &nbsp;

        <!-- <button
        class="btn btn-light"
        (click)="onPlayAudio()"
      >
        Reproducir Audio
      </button>
      &nbsp;
      <button
        *ngIf="dataWord.conjtarget !== ''"
        class="btn btn-light"
        (click)="onConj()"
      >
        Conjugar
      </button> -->
        <!--  <span-->
        <!--    *ngFor="let item of dataWord;-->
        <!--    index as i"-->
        <!--    (click)="onLemmaWord(item.idTextos)"-->
        <!--    [ngClass]="item.idTextos === 'no have id' ? '':'lemma-css'"-->
        <!--  >-->
        <!--    {{item.textos}}</span>-->

        <div *ngFor="let item of word.senses; index as is" class="px-3">
          <div class="d-flex">
            <div *ngIf="item.senseSrc.length===0" style="width: 48px;"></div>
            <div *ngFor="let itemSrc of item.senseSrc" class="d-flex align-items-start">
              #hola
              <button
                (click)="onOpenWordImage(itemSrc.url)"
                *ngIf="is + 1 == itemSrc.id && itemSrc.type === 'img'"
                [matTooltipClass]="'bg-primary fs-6'"
                matTooltip="Ver imagen"
                class="border-0 p-0"
              >
                <mat-icon color="primary" matPrefix svgIcon="image"></mat-icon>
              </button>
              <button
                (click)="onOpenWordVideo(itemSrc.url)"
                *ngIf="is + 1 == itemSrc.id && itemSrc.type === 'video'"
                [matTooltipClass]="'bg-primary fs-6'"
                matTooltip="Play video"
                class="border-0 p-0"
              >
                <mat-icon color="primary" matPrefix svgIcon="play_circle"></mat-icon>
              </button>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <span *ngIf="word.senses.length !== 1" class="fw-bolder px-1">{{ is + 1 }} </span>
            &nbsp; &nbsp;
            <div class="d-flex flex-column">
              <div id="definitions-container">
              <span
                class="text-decoration-underline p-1"
                [matTooltipClass]="'bg-primary fs-6'"
                [matTooltip]="getGramaticalTooltip(item1.pos)"
                *ngFor="let item1 of item.categoriaGramatical"
              >{{ item1.pos }}</span
              >
                <span
                  (click)="onLemmaWord(item1.lemmaid)"
                  *ngFor="let item1 of item.definiciones[0]; index as i"
                  [ngClass]="{
                  'lemma-css': item1.lemmaid !== 'no have id',
                  'fw-bolder':
                    item1.lemmaid === 'oRef' || item1.lemmaid === 'orthVariant'
                }"
                >{{ item1.textos }}</span
                >
              </div>
              <div id="examples-container">
              <span *ngFor="let item1 of item.ejemplos[0]; index as i">
                <span
                  (click)="onLemmaWord(item1.lemmaid)"
                  [ngClass]="[
                    item1.lemmaid === 'no have id'
                      ? 'fst-italic'
                      : 'lemma-css fst-italic',
                    item1.lemmaid === 'orthVariant'
                      ? 'fw-bolder fst-italic no-lemma'
                      : 'fst-italic'
                  ]"
                >{{ item1.textos }}</span
                >
                <span *ngIf="item1.textos.endsWith('.')"><br/></span>
              </span>
              </div>
              <div *ngFor="let itemXr of item.referenciasCruzadas;" class="">
                <span>{{itemXr.lbl}} </span>
                <span *ngFor="let itemx of itemXr.ref; index as x">
                  <span
                    (click)="onLemmaWord(itemx.id)"
                    style="cursor: pointer"
                  ><span class="link-primary text-decoration-underline">{{itemx.word}}</span><span
                    [ngClass]="x+1 === itemXr.ref.length ? 'd-none':'text-decoration-none'"> , </span></span>
                </span>


              </div>
              <div *ngFor="let itemRe of item.entradasRelacionadas" class="">
                <span><br></span>
                <span>// {{itemRe.myForms.lbl}} <span class="fw-bolder">{{itemRe.myForms.orthography}}</span></span>
                <span><br></span>
                <span *ngFor="let itemReSense of itemRe.mySense.definition">
                <span
                  (click)="onLemmaWord(itemReSense.lemmaid)"
                  [ngClass]="[
                  itemReSense.lemmaid === 'no have id'
                  ? 'fst-italic'
                  :'lemma-css fst-italic',
                  itemReSense.lemmaid === 'orthVariant'
                  ?'fw-bolder fst-italic'
                  :'fst-italic']">
                  {{itemReSense.textos}}</span>
                <span *ngIf="itemReSense.textos.endsWith('.')"><br/>
              </span>
              </span>
                <span *ngFor="let itemReSenseEx of itemRe.mySense.examples">
                <span
                  (click)="onLemmaWord(itemReSenseEx.lemmaid)"
                  [ngClass]="[
                  itemReSenseEx.lemmaid === 'no have id' ? 'fst-italic':'lemma-css fst-italic',
                  itemReSenseEx.lemmaid === 'orthVariant' ? 'fw-bolder no-lemma fst-italic':'fst-italic']"
                >{{itemReSenseEx.textos}}</span>
                <span *ngIf="itemReSenseEx.textos.endsWith('.')"><br/></span>
              </span>
              </div>
            </div>
          </div>
          <br>
        </div>

        &nbsp;
        <div class="d-flex">
          <span>{{ word.palabra.form.syllable }}</span>
          <span class="p-1"></span>
          <div *ngFor="let item of word.palabra.another; index as i">
            <span>
              {{ item.orthography }}
              <span *ngIf="i === 0 || item.orthography.endsWith('s')">{{ item.number }}</span>
              <span *ngIf="!item.orthography.endsWith('s')">{{item.gram}}</span>
            </span>
            <span class="p-1"></span>
          </div>
        </div>
        <hr>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
