<!-- Hidden Content -->

  <mat-card [hidden]="!hideSelect" class="hiddenSelect mat-elevation-z2 mt-3">
    <mat-card-header>
      <h5 class="text-bold">
        <span>Criterios de b&uacute;squeda</span>
      </h5>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-lg-5">
        <mat-form-field class="w-100" appearance="legacy">
          <mat-label>[Selecciona criterio]</mat-label>
          <mat-select (selectionChange)="setDisabledTrue($event)">
            <mat-option value="cat">Categoria gramatical</mat-option>
            <mat-option value="tip">Tipo de uso</mat-option>
            <mat-option value="geo">Informacion geografica</mat-option>
            <mat-option value="con">Area de conocimientos</mat-option>
            <mat-option value="afjGram">Palabras con afijos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-5">
        <mat-form-field class="w-100" appearance="legacy" *ngFor="let item of searchCriteriaFilters">
          <mat-label>Selecci&oacute;n</mat-label>
          <mat-select [disabled]="!disableSelect" #selection>
            <mat-option *ngFor="let element of catGram; index as i" value="{{i}}" (click)="onSelectOption(selection)">{{element}}</mat-option>
          </mat-select>
          <mat-icon class="icon-hover mb-1" matSuffix [hidden]="!hideDeleteButton" (click)="onDeleteSelectionField()" color="accent" svgIcon="delete"></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <button [hidden]="addDisabled" mat-mini-fab color="primary" class="mat-elevation-z6" (click)="onAddSelectionField()">
          <mat-icon class="mb-2" svgIcon="add"></mat-icon>
        </button>
      </div>
    </div>



    <!-- <button mat-mini-fab [hidden]="!hideDeleteButton" color="primary" (click)="onDeleteSelectionField()">
      <mat-icon>cancel</mat-icon>
    </button> -->
  </mat-card>
<!-- Initial Content -->
<div class="mt-3 welcome" *ngIf="!selectClick">
  <div class="card bg-dark text-white" [@fade]>
<!--    <img src="https://uruguayeduca.anep.edu.uy/sites/default/files/2019-08/diccionario_0.jpg" class="card-img card-opacity" alt="Photo of a Shiba Inu">-->
    <h3 class="card-title">Reseña del Diccionario</h3>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid architecto at commodi inventore laudantium magni, modi nam nihil non odio officia porro ratione repellendus voluptatum? Debitis earum laudantium optio?</p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis doloremque eius exercitationem libero mollitia praesentium vitae! Ad debitis ipsum, laudantium magnam magni maiores minima odit officia placeat similique voluptatem!</p>
    <p class="card-text">Last updated 3 mins ago</p>
    <div class="card-img-overlay">

    </div>
  </div>
<!--  <mat-card class="example-card mat-elevation-z0">-->
<!--    <mat-card-title>-->
<!--      Reseña-->
<!--    </mat-card-title>-->
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--        bred for hunting.-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
</div>

<!-- Search Content -->
<div class="welcome mt-3" *ngIf="selectClick">
  <p id="this"></p>
  <mat-card class="example-card mat-elevation-z0" *ngFor="let item of wordList">
<!--    <mat-card-title></mat-card-title>-->
<!--    <h5>Palabra</h5>-->
<!--    <p>Palabra : {{item.word}}</p><span>{{item.pos}}</span>-->
<!--    <h5>Definicion</h5>-->
<!--    <p>{{item.def}}</p>-->
<!--    <h5>Ejemplos</h5>-->
<!--    <p>{{item.eg}}</p>-->
  </mat-card>
</div>

