mat-form-field{
  width: 100%;
}
.buttonColor{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 30px;
}
.btnColor{
  background-color: #00D7FF;
}
.myPanel{
  width: 400px;
}
.spacer {
  display: flex;
  justify-content: space-between;
}
.spacer button{
  width: 35px;
  height: 35px;
  margin: 1.1px;
  border-radius: 3px;
  border: 1px solid black;
}

.spacer button:hover{
  box-shadow: 0 1px 3px #ccc;
  background-color: white;
}
