mat-form-field{
  width: 100%;
}
.buttonColor{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 30px;
}
.btnColor{
  background-color: #00D7FF;
}
.myPanel{
  width: 400px;
}
.myBtn{

}
