.container_img{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}
@media screen and (max-width: 640px){
  .container_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.imgCss{
  background-size: contain;
  width: 250px;
  height: 200px;
}
