 <div class="mt-2">
   <label class="fw-bold">Lista de palabras: </label>
    <select size="9" class="form-select border-dark bg-light">
      <option
        class="p-1"
        (click)="onSelectWord($event)"
        *ngFor="let item of itemList | filter:selMod:currentEntry;
        index as i"
        [selected]="currentEntry == item.word"
        value="{{item.id}}"
      >
        {{item.word}}
      </option>
    </select>
  </div>
  <div class="mt-2">
    <label class="fw-bold">
      ¿No querrás decir?
    </label>
    <select size="2" class="form-select border-dark bg-light w-100"></select>
</div>


