<div class="mt-2">
  <label class="fw-bold">Lista de palabras: </label>
  <select
    #Select
    *ngIf="(_shared.advancedSearchActivated | async); else advSearch" class="form-select mat-elevation-z1 bg-light"
    size="9">
    <option
      class="fw-bold"
      (click)="onSelectWord($event)"
      *ngFor="let item of itemList | advfilter: advSearchObj | duplicate; index as i"
      [selected]="i === 0"
      [value]="item.id"
    >
      {{ item.word}}
    </option>
  </select>
  <ng-template #advSearch>
    <select
      #Select
      class="form-select mat-elevation-z1 bg-light"
      size="8">
      <option
        (click)="onSelectWord($event)"
        *ngFor="let item of itemList | duplicate; index as i"
        [selected]="i === 0"
        [value]="item.id"
        class="fw-bold"
      >
        {{ item.word }}
        <!--      | {{ item.pos | json }}-->
      </option>
    </select>
  </ng-template>
</div>
<div class="mt-2">
  <label class="fw-bold"> ¿No querrás decir? </label>
  <select class="form-select mat-elevation-z1 bg-light w-100" size="2">
    <option
      *ngFor="let suggest of suggestedWord"
      [value]="suggest?.id"
      class="fw-bold text-success"
      (click)="onSelectWord($event)"
    >
      <span *ngIf="(_shared.strDontMatch | async)">{{ suggest?.word }}</span>
    </option>
  </select>
</div>
