
.sidenav-container {
  height: 100%;
}
.sidenav{
  width: 280px;
  /*background-color: #0096FF;*/
  /*background-color: #333339;*/
  background-color: #1957DB;
  color: #fff;
}
.sidenav .mat-toolbar {
  /*background-color: #5800FF;*/
  /*background: inherit;*/
  /*box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.6);*/
}
.mat-toolbar.mat-primary {
  /*background-color: #14279B;*/
  position: sticky;
  top: 0;
  z-index: 1;
}
.webTitle{
  font-family: "Trebuchet MS",Verdana, SansSerif, Serif;
  font-weight: bold;
  font-size: 23px;
  border-radius: 5px;
  padding: 5px;
}
.iconCSS{
  color: white;
}
.iconCSS:hover{
  /*background-color: #0d6efd;*/
  background-color: #fff;
  /*color: white;*/
  color: black;
  border-radius: 0.375em;
}
.toolbarText{
  font-size: 25px;
}
.imgBg{
  width: 100%;
  height: 120%;
  border-radius: 7px;
  z-index: 0;
}
.toolbar{
  width: 100%;
  height: 130px;
}
.toolbarHeader{
  padding: 10px;
  margin: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
.myCSS{
  /*background-color: #2563BC;*/
  background-color: #e4e2e2;
  height: 30px;
}

