<div class="container">
  <h3 class="mt-2 p-2">Diccionario</h3>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <!--Header-->
        <app-dash-board-header (wordFinding)="onSearch($event)" (clickingButton)="onClickButton()"></app-dash-board-header>
        <!--Content-->
        <app-dash-board-ifo [searching]="input_search" [Letter]="indexWord" [itemList]="wordResults" [cEntry]="entry"></app-dash-board-ifo>
      </div>
      <div class="col-lg-8">
        <!--Main Content-->
        <app-dash-board-content ></app-dash-board-content>
      </div>
    </div>
  </div>
</div>
