.buttonColor{
  background-color: #2563BC;
  color: white;
}
.formField{
  width: 450px;
}
#title{
  /*background-color: #2563BC;*/
  background-color: #e4e2e2;
  /*background-color: #3F51B5;*/
  /*background-color: #F5F5F5;*/
}

.container-fluid{
  padding: 0 8%;
}
.dictionary-shadow{
  text-shadow: 1px 4px 3px gray;
  margin: 0;
}
.dictionary{
  width: 200px;
}
.adv-css{
  display: flex;
  justify-content: center;
}

