<section id="title">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-3">
        <div class="dictionary">
          <h3 class="fw-bold dictionary-shadow">Diccionario</h3>
          <h4 class="text-start dictionary-shadow">Básico Escolar <span class="fw-bold">5.0</span></h4>
          <h4 class="text-start dictionary-shadow">--------------------</h4>
        </div>
      </div>
     <!--  <div id="menu0" class="col-lg-6"> -->
        <div class="mi1div" name="mi1div">
          <a href="index7.html" target="_parent"  onclick="window.focus()"><img src="images/fig02_mv.png" title="Videos" border="0" width="70" height="110" name="b1"></a>
        </div>
        <div class="mi2div" name="mi2div">
          <a href="index3.html" target="_parent"  onclick="window.focus()"><img src="images/fig03.png" title="Ilustraciones" border="0" width="70" height="110" name="b2"></a>
        </div>
        <div class="mi3div" name="mi3div">
          <a href="index4.html" target="_parent"  onclick="window.focus()"><img src="images/fig04.png" title="Informaci&oacute;n" border="0" width="70" height="110" name="b3"></a>
        </div>
        <div class="mi4div" name="mi4div">
          <a href="index5.html" target="_parent"  onclick="window.focus()"><img src="images/fig05.png" title="Estad&iacute;sticas" border="0" width="70" height="110" name="b4"></a>
        </div>
        <div class="mi5div" name="mi5div">
          <a href="index6.html" target="_parent"  onclick="window.focus()"><img src="images/fig06.png" title="Ayuda" border="0" width="70" height="110" name="b5"></a>
        </div>
        <div class="mi6div" name="mi6div">
          <a href="salir.cgi" target="_parent"  onclick="window.focus()"><img src="images/fig07a.png" title="Salir" border="0" width="70" height="110" name="b6"></a>
        </div>
      <!-- </div> -->
      <div class="col-lg-2">
        <div class="figure-img">
          <img src="./assets/fig07b.png" class="rounded-3 container-fluid p-0" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm">
        <mat-card
          [matTooltipClass]="'bg-primary fs-6'"
          class="w-100 p-2 adv-css mat-elevation-z1"
          matTooltip="Click para activar b&uacute;squeda avazanda"
          matTooltipPosition="above"
        >
          <mat-icon
            class="p-0"
            matPrefix
            svgIcon="manage_search"
          ></mat-icon>
          <mat-checkbox
            (change)="onAdvActivate($event)"
            [checked]="(_sharedData.advancedSearchActivated | async)"
            class="p-0"
            color="primary"
            labelPosition="before"
          >
            <span *ngIf="!(_sharedData.advancedSearchActivated | async); else mode"
                  class="fw-bold">Búsqueda avanzada</span>
            <ng-template #mode>
              <span class="fw-bold">Búsqueda avanzada</span>
            </ng-template>
          </mat-checkbox>
        </mat-card>
      </div>
      <div class="col-lg-9 col-md-8 col-sm">
        <app-alphabeth
        (alphaClick)="onAlphaWords($event)"
      ></app-alphabeth>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <!--Header-->
        <app-dash-board-header
          (selectModeSignal)="onSelectionMode($event)"
          (wordFinding)="onSearch($event)"
        ></app-dash-board-header>
        <!--Content-->
        <app-dash-board-ifo
          [selectionMode]="selectionMode"
          [newCurrentSearch]="isNewSearch"
          [letter]="indexWord"
          [itemList]="wordResults"
          [cEntry]="entry"
          (backClick)="onClickButton($event)"
        ></app-dash-board-ifo>
      </div>
      <div class="col-lg-9 col-md-8">
        <!--Main Content-->
        <app-dash-board-content
          class="bg-secondary"
          [selectionClicked]="input_search"
          [wordsArray]="wordArray"
        ></app-dash-board-content>
      </div>
    </div>
  </div>
</section>


