<div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button matTooltip="Cerrar el Video" class="mb-3" mat-icon-button mat-dialog-close="true">
      <mat-icon class="mb-1" svgIcon="close"></mat-icon>
    </button>
  </div>
 <video class="container-fluid" [width]="'640'" [height]="'480'" [autoplay]="true" [src]="videoSrc"  controls="controls"></video>
<p>videosSrc</p>

<!-- <div class="container-fluid">
    <object  type="application/x-shockwave-flash" [data]="data" width="640" height="480">
      <param name="movie" [value]="data" />
      <param name="autoplay" value="true" />
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="allowFullScreen" value="true" />
    </object>
  </div>-->
  </div>
